* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
  "hdr hdr hdr"
  "board info media";
}

header {
  grid-area: hdr;
  text-align: center;
}

section.board-section {
  grid-area: board;
}

section.info-section {
  grid-area: info;
}

section.media-section {
  grid-area: media;
}

canvas {
  background-image: url('https://i.pinimg.com/originals/34/29/b2/3429b2fd5ecca0e502f50e27c1a792e9.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}