* {
  box-sizing: border-box;
}

canvas {
  /* background-image: url('https://i.pinimg.com/originals/34/29/b2/3429b2fd5ecca0e502f50e27c1a792e9.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background-color: black;
  border: 3px white solid;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #000000;
  color: #ffffe8;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-areas:
  "hdr hdr"
  "board info"
  "board media";
}

header {
  grid-area: hdr;
  text-align: center;
}

h1.title {
  margin-bottom: 5px;
}

span.hdr-ltr-1 {
  color: pink;
}
span.hdr-ltr-2 {
  color: green;
}
span.hdr-ltr-3 {
  color: blue;
}
span.hdr-ltr-4 {
  color: white;
}
span.hdr-ltr-5 {
  color: red;
}
span.hdr-ltr-6 {
  color: yellow;
}

img.globe-img {
  width: 50px;
}

section.board-section {
  grid-area: board;

  display: flex;
  justify-content: center;
  align-items: center;
}

section.info-section {
  grid-area: info;

  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "score"
  "btn";
}

span.score-ltr-1 {
  color: yellow;
}
span.score-ltr-2 {
  color: red;
}
span.score-ltr-3 {
  color: white;
}
span.score-ltr-4 {
  color: blue;
}
span.score-ltr-5 {
  color: green;
}
span.score-ltr-6 {
  color: pink;
}

span.score-ltr-1, span.score-ltr-2, span.score-ltr-3, span.score-ltr-4, span.score-ltr-5, span.score-ltr-6 {
  margin: 0 -5px;
} 

h2.score-section {
  grid-area: score;
  text-align: left;
}

div.btn-div {
  grid-area: btn;
}

button.start-btn {
  border: #ffffe8 solid 3px;
  outline: none;
  background-color: #000000;
  color: #ffffe8;
  font-family: 'Courier New', Courier, monospace;
}

button.start-btn:active {
  background-color: #ffffe8;
  color: #000000;
}

button.i-btn {
  border: #ffffe8 solid 3px;
  outline: none;
  background-color: #000000;
  color: #ffffe8;
  font-family: 'Courier New', Courier, monospace;
}

button.i-btn:active {
  background-color: #ffffe8;
  color: #000000;
}

section.media-section {
  grid-area: media;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#display-thoughts {
  border: #ffffe8 solid 3px;
  border-radius: 6px;
  padding: 10px;
} 

i.material-icons {
  margin-top: -17px;
  font-size: 40px;
}

section > img {
  height: 400px;
}

